<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="GameAccounts">
      <section name="GameAccount" type="System.Configuration.NameValueFileSectionHandler"/>
      <sectionGroup name="Circuit">
        <section name="Operate" type="System.Configuration.SingleTagSectionHandler"/>
      </sectionGroup>
    </sectionGroup>
  </configSections> 

  <GameAccounts>
    <GameAccount>
      <add key="admin1" value="admin1_s1a2"/>
      <add key="admin2" value="admin2_s1a2"/>
      <add key="admin3" value="admin3_s1a2"/>
      <add key="admin4" value="admin4_s1a2"/>
      <add key="admin5" value="admin5_s1a2"/>
    </GameAccount>
    <Circuit>
      <Operate Setp="1" ActionType="ClickTab" PositionX="152" PositionY="124" />
      <Operate Setp="2" ActionType="KeyPressUID" PositionX="234" PositionY="231" />
      <Operate Setp="3" ActionType="KeyPressPWD" PositionX="123" PositionY="155" />
      <Operate Setp="4" ActionType="ClickSubmit" PositionX="234" PositionY="124" />
    </Circuit>
  </GameAccounts>

  <appSettings>
    <!--重复操作时，轨迹中第一部操作的X坐标增量-->
    <add key="CircuitRedoPosXInterval" value="30"/>
  </appSettings>

</configuration>